@{
    ViewData["Title"] = "Home Page";
}

﻿

@model ProductListViewModel


    <h1>INTEX II: ELECTRIC BOOGALOO</h1>
        @foreach (Product p in Model.Products)
        {
            <h3>@p.Name</h3>

            <ul>
                <li>Category: @p.Category</li> 
                <li>Description: @p.Description</li>
                <li>Price: @p.Price</li>
            </ul>
        }

<div page-model="@Model.PaginationInfo" page-action="Index"></div>